@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

#header .container {
    margin: 60px 60px;
    background-color: white;
    height: 1100px;
    box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.219);
}

body {
    background-color: #091538;
}

.logo {
    width: 350px;
    margin-left: 480px;
}

.titulo {
    font: 700 45px 'Merriweather Sans', sans-serif;
    text-align: center;
}

.texto {
    font: 500 20px 'Merriweather Sans', sans-serif;
    text-align: center;
    color: rgb(104, 104, 104);
}

.acesso h2{
    font: 700 30px 'Merriweather Sans', sans-serif;
    text-align: center;
    color: #091538;
}

input {
    margin-left: 550px;
    width: 220px;
    height: 30px;
    border-radius: 10px;
}

button {
    background-color: #091538;
    font: 400 15px 'Merriweather Sans', sans-serif;
    color: white;
    padding: 5px 15px;
    border-radius: 40px;
    display: flex;
    margin-left: 610px;
    margin-top: 20px;
}

.atencao {
    width: 250px;
    margin-left: 540px;
    margin-top: 20px;
}


